.result-item {
  cursor: pointer;
  background-color: var(--dark-surface-02);
  border-radius: 5px;
  box-shadow: var(--dark-shadow);
  border: var(--dark-border-thin);
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  .species-com-name {
    color: var(--dark-color-high);
    .species-count {
      color: var(--dark-color-medium);
    }
  }
  .species-sci-name {
    color: var(--dark-color-medium);
    padding-bottom: 0.6rem;
    border-bottom: var(--dark-border-thin);
  }
  .observ-date {
    color: var(--dark-color-disabled);
    display: flex;
    gap: 1rem;
  }
  .loc-name {
    color: var(--dark-color-disabled);
  }
  .item-info {
    display: flex;
    gap: 1rem;
    align-items: center;
    .item-info--icon {
      width: 16px;
    }
  }
}
.selected .result-item {
  border-color: rgba(255, 255, 0, 0.4);
}
