.popup-content {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  .species-com-name {
    color: var(--color-high);
    .species-count {
      color: var(--color-medium);
    }
  }
  .species-sci-name {
    color: var(--color-medium);
    padding-bottom: 0.6rem;
    border-bottom: var(--border-thin);
  }
  .observ-date {
    color: var(--color-disabled);
    display: flex;
    gap: 1rem;
  }
  .loc-name {
    color: var(--color-disabled);
  }
  .item-info {
    display: flex;
    gap: 1rem;
    align-items: center;
    .item-info--icon {
      width: 16px;
      flex-shrink: 0;
    }
  }
}
