.filter-species-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}
.filter-notable {
  display: flex;
  gap: 1rem;
  justify-content: space-around;

  .filter-notable--item {
    position: relative;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    label {
      color: var(--color-medium);
      position: relative;
      cursor: pointer;
    }

    input[type="radio"] {
      position: relative;
      height: 1.2rem;
      width: 1.2rem;
      z-index: 1;
      opacity: 0;
      cursor: pointer;
    }
    .custom-radio {
      position: absolute;
      top: 0;
      left: 0;
      height: 1.2rem;
      width: 1.2rem;
      background-color: var(--surface-02);
      border: var(--border-input);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    input[type="radio"]:checked ~ .custom-radio {
      background-color: var(--primary);
    }

    .custom-radio:after {
      content: "";
      position: absolute;
      width: 0.6rem;
      height: 0.6rem;
      border-radius: 50%;
      background: var(--surface-00);
      border: var(--border-input);
    }
  }
  .filter-notable--item:hover {
    label {
      color: var(--primary);
    }
    input ~ .custom-radio {
      border-color: var(--primary);
    }
  }
}
body.high-contrast {
  .filter-notable--item:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 0.4rem;
    label {
      color: var(--color-high);
    }
    input ~ .custom-radio {
      border-color: var(--color-high);
    }
  }
  input[type="radio"]:checked + .custom-radio + label {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 0.4rem;
  }
}
.filter-species {
  margin: 1rem 0 0;
  overflow-y: auto;
  position: relative;
  height: 100%;
  .species-list {
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    .species-list-item {
      font-size: 0.8rem;
      color: #907cbb;
      font-weight: light;
      border: 1px solid var(--primary-opaque-2);
      border-radius: 10px;
      padding: 0.2rem 0.4rem;
      margin: 0.2em;
      &:hover {
        color: #b598f5;
        border-color: var(--primary);
        cursor: pointer;
      }
    }
    .species-list-item.selected {
      color: black;
      background-color: #b598f5;
    }
  }
  .error-message {
    box-shadow: var(--shadow);
    border: 1px solid var(--primary);
    border-radius: 5px;
    background-color: var(--primary-opaque-2);

    color: var(--primary);
    padding: 1rem;
  }
}

body.high-contrast {
  .filter-species {
    .species-list {
      .species-list-item {
        color: var(--color-high);

        border: 1px solid var(--color-high);
        cursor: pointer;
        &:hover {
          background-color: var(--primary);
        }
      }
      .species-list-item.selected {
        color: #fff;
        background-color: #000;
      }
    }
    .error-message {
      color: var(--color-high);
    }
  }
}
