.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  position: fixed;
  z-index: 501;
  top: 0;
  left: 0;
  background-color: var(--dark-surface-03);
  overflow-x: hidden;
  transition: width 0.5s;
  width: 5.2rem;
  .nav-toggle-container {
    padding: 1rem 0.6rem;
    display: grid;
    grid-template-columns: 4rem 14rem;
    .nav-toggle-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 4rem;
      cursor: pointer;
      img {
        height: 2rem;
      }
    }
    .nav-toggle-button.close {
      transform: translateX(13rem);
    }
  }
  nav {
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2px;
      li {
        list-style: none;
        a {
          color: var(--dark-primary);

          text-decoration: none;
          padding: 0.6rem;
          width: 100%;
          display: grid;
          grid-template-columns: 4rem 14rem;
          cursor: pointer;
          .nav-link--icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 4rem;
            img {
              height: 2rem;
            }
          }
          .nav-link--text {
            line-height: 2rem;
            font-size: 1.2rem;
            padding-left: 1rem;
            text-wrap: nowrap;
          }
          &:hover {
            background-color: rgb(43, 43, 43);
          }
        }
      }
    }
  }
  .nav-settings-container {
    padding: 1rem 0.6rem;
    display: grid;
    grid-template-columns: 4rem 14rem;
    cursor: pointer;
    .nav-settings-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 4rem;

      img {
        height: 2rem;
      }
    }
    .nav-settings--text {
      line-height: 2rem;
      font-size: 1.2rem;
      padding-left: 1rem;
      text-wrap: nowrap;
      color: var(--dark-primary);
    }
    &:hover {
      background-color: rgb(43, 43, 43);
    }
  }
}
.nav-container.show-nav {
  width: 18rem;
}
