.theme-switcher {
  color: var(--color-medium);
  height: 2rem;
  position: relative;

  .theme-toggleButton {
    display: flex;
    gap: 0.6rem;
    align-items: center;
    cursor: pointer;
    .theme--icon svg {
      width: 1.4rem;
    }
    .theme--dropdown svg {
      width: 1.2rem;
    }
    &:hover {
      color: var(--primary);
    }
  }
  .theme-menu {
    position: absolute;
    right: 0;
    z-index: 1000;
    background-color: var(--surface-03);
    box-shadow: var(--shadow);
    border: var(--border-thin);
    border-radius: 5px;
    padding: 1rem 2rem;
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 1rem;
      li {
        cursor: pointer;
        white-space: nowrap;
        &:hover {
          color: var(--primary);
        }
      }
      li.theme-checked {
        color: var(--primary);
        text-decoration: underline;
        text-underline-offset: 0.4rem;
      }
    }
  }
}

body.high-contrast {
  .theme-switcher {
    .theme-toggleButton {
      &:hover {
        color: var(--color-high);
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 0.4rem;
      }
    }
    .theme-menu {
      ul {
        li {
          &:hover {
            color: var(--color-high);
            text-decoration: underline;
            text-decoration-thickness: 3px;
            text-underline-offset: 0.4rem;
          }
        }
        li.theme-checked {
          font-weight: bold;
          color: var(--color-high);
          text-decoration: underline;
          text-decoration-thickness: 3px;
          text-underline-offset: 0.4rem;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .theme-switcher {
    .theme-toggleButton {
      gap: 0.2rem;
    }
  }
}
