*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin !important;
  scrollbar-color: var(--surface-16) var(--surface-00) !important;
}

body.dark {
  --surface-00: #121212;
  --surface-01: #1d1d1d;
  --surface-02: #212121;
  --surface-03: #242424;
  --surface-16: #343434;
  --surface-24: #373737;

  --shadow: 3px 3px 5px rgb(0, 0, 0, 0.4);
  --border-thin: 1px solid rgba(255, 255, 255, 0.1);
  --border-input: 1px solid rgba(255, 255, 255, 0.4);

  --primary: #b598f5;
  --primary-opaque-2: hwb(259 60% 4% / 0.2);
  --primary-opaque-8: hwb(259 60% 4% / 0.8);
  --secondary: yellow;
  --secondary-opaque-4: rgba(255, 255, 0, 0.4);

  /* text color */
  --color-high: rgb(255, 255, 255, 0.87);
  --color-medium: rgb(255, 255, 255, 0.6);
  --color-disabled: rgb(255, 255, 255, 0.38);
}
body.light {
  --surface-00: #f1f1f1;
  --surface-01: #f5f5f5;
  --surface-02: #f8f7f7;
  --surface-03: #fafafa;
  --surface-16: #868686;
  --surface-24: #6d6d6d;

  --shadow: 3px 3px 5px rgba(0, 0, 0, 0.082), -2px -2px 5px rgba(0, 0, 0, 0.082);
  --border-thin: 1px solid rgba(0, 0, 0, 0.178);
  --border-input: 1px solid rgba(0, 0, 0, 0.4);

  --primary: #a784f3;
  --primary-opaque-2: hwb(259 60% 4% / 0.2);
  --primary-opaque-8: hwb(259 60% 4% / 0.8);
  --secondary: yellow;
  --secondary-opaque-4: rgba(255, 255, 0, 0.4);

  /* text color */
  --color-high: rgba(0, 0, 0, 0.87);
  --color-medium: rgba(0, 0, 0, 0.6);
  --color-disabled: rgba(0, 0, 0, 0.38);
}
body.high-contrast {
  --surface-00: #fff;
  --surface-01: #fff;
  --surface-02: #fff;
  --surface-03: #fff;
  --surface-16: #000000;
  --surface-24: #373737;

  --shadow: none;
  --border-thin: 2px solid #000;
  --border-input: 2px solid #000;

  --primary: #b598f5;
  --primary-opaque-2: #000;
  --primary-opaque-8: #b598f5;
  --secondary: rgba(255, 255, 0, 0.656);
  --secondary-opaque-4: rgba(255, 255, 0, 0.4);

  /* text color */
  --color-high: #000;
  --color-medium: #000;
  --color-disabled: #000;
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: var(--surface-00);
  color: var(--color-high);
}

input[type="text"],
input[type="number"] {
  background-color: var(--surface-01);
  border: var(--border-input);
  border-radius: 5px;
  padding: 0.4rem;
  font-size: 1rem;
  color: var(--color-medium);
}
input[type="text"]:focus,
input[type="number"]:focus {
  background-color: var(--surface-00);
  color: var(--color-high);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
input[type="range"] {
  width: 100%;
  margin: 3.3px 0;
  background-color: var(--surface-01);
  -webkit-appearance: none;
  appearance: none;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: var(--primary);
  border: var(--border-input);
  border-radius: 25px;
  width: 100%;
  height: 9.4px;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  margin-top: -5.4px;
  width: 18px;
  height: 18px;
  background: var(--surface-00);
  border: var(--border-input);
  border-radius: 12px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--primary);
}
input[type="range"]::-moz-range-track {
  background: var(--surface-01);
  border: var(--border-input);
  border-radius: 25px;
  width: 100%;
  height: 9.4px;
  cursor: pointer;
}
input[type="range"]::-moz-range-progress {
  background-color: var(--primary);
  height: 9.4px;
  border-radius: 25px;
}
input[type="range"]::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: var(--surface-00);
  border: var(--border-input);
  border-radius: 12px;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 7.4px 0;
  color: transparent;
  width: 100%;
  height: 9.4px;
  cursor: pointer;
}
input[type="range"]::-ms-fill-lower {
  background: var(--primary);
  border: var(--border-input);
  border-radius: 50px;
}
input[type="range"]::-ms-fill-upper {
  background: var(--surface-00);
  border: var(--border-input);
  border-radius: 50px;
}
input[type="range"]::-ms-thumb {
  width: 18px;
  height: 18px;
  background: var(--surface-00);
  border: var(--border-input);
  border-radius: 12px;
  cursor: pointer;
  margin-top: 0px;
}
input[type="range"]:focus::-ms-fill-lower {
  background: var(--primary);
}
input[type="range"]:focus::-ms-fill-upper {
  background: var(--surface-00);
}
@supports (-ms-ime-align: auto) {
  input[type="range"] {
    margin: 0;
  }
}

::-webkit-scrollbar {
  width: 10px;
  background: var(--surface-00);
}
::-webkit-scrollbar-thumb {
  background: var(--surface-16);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--surface-24);
}
.wrapper {
  height: 100vh;
  width: 100vw;
}

main {
  overflow: auto;
}

@media (min-width: 900px) {
  .wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  main {
    overflow: auto;
    flex: 1;
  }
}
